# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# Fresh build directory
_fresh/
# npm dependencies
node_modules/
# Deno dependencies
.deps/
# Deno cache
.deno/
# Deno lock file
.deno.lock
# Credentials file
.credentials.json
page-example/

# Ignore the build output directory
build/
# Ignore the public directory
public/
# Ignore the coverage directory
coverage/
# Igore vscode settings
.vscode/

# Ignore .gitignore file itself
.gitignore